body {
    background: red ;
    color: black ;
    font-family: "Agdasima", sans-serif;
}
heard {
    border-bottom: solid 2px white;
    padding: 0px;
    font-size: 32px;
    color: white;
}
    section {
         background: black;
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;     
    }
    div {
        margin-right: 5%;
    }
.chamada-texto {
    font-size: 40px;
}